.baner_menu{
	background-color: green;
	height: 95px;
	width: 1922px;
	position: relative;
  	top: -25px;
  	left: -10px;
  	color: white;
}
.baner_menu a{
	text-decoration: none;
	color: white;
	font-size: 24px;
}
.logo{
	width: 170px;
	height: 71px;
	position: relative;
	top: 10px;
}
footer{
	background-color: silver;
	color: white;
	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	height: 8%;
}
.content_of_news_div{
	width: 100%;
	height: 336px;
	border-radius: 5px;
	border-color: black;
	border-style: solid;
	border-width: 5px;
	color: black;
	background-color: white;
	display: flex;

}
.content_of_news_div img {
  width: 100%;
}
.centered{
	background-color: white;
	position: absolute;
	left: 31%;
	height: 91.5%;
	width: 40%;
	top: 8.5%;
}